.calculadora
{
    display: block;
    margin: 0 auto;
    padding: 20 px;
    background-color:azure;
    width: 300px;
    height: 500px;
    border-radius:25px;
}
.calculadora td button
{
    display: block;
    width: 70px;
    height: 70px;
    font-size: 25px;

}
#resultado{
  display: block;
  text-align: center;
  font-size: 40px;
  margin-bottom: 50px;
  width: 300px;
  height: 100px;
  line-height: 100px;
  background-color: aliceblue;
  border-radius: 25px;

}
